<h1><%= @artist.name %></h1>
<p>Photo</p>
  <%= image_tag @artist.photo.image.thumbnail %>


<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Songs</h3>
<ul id="songList">

<% if @artist.songs.any? %>
    <% @artist.songs.each do |song| %>
      <li class="song" data-song-id="<%=song.id%>"><%= song.track %>
    <label class="deleteSong">Delete this song</label>
    <!-- <a href="#" class="deleteSong">Delete this song</a> -->
      <!-- # artist_song_path(@artist, song),
      # method: :delete,
      # data: { confirm: 'Are you sure?'} %>
     -->
  </li>
    <% end %>

</ul>
  <%else%>
  <p>There are no songs belong to this artist. </p>
<% end %>

<label class="deleteAllSongs">Delete all songs</label>

<hr>
<%= render 'songs/form' %>
<hr>
<%= link_to "Delete this Artist", artist_path(@artist.id),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
