<h1><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Songs</h3>
<% if @artist.songs.any? %>
    <% @artist.songs.each do |song| %>
      <p><%= song.track %></p>


    <% end %>
  </ul>
  <%else%>
  <p>There are no songs belong to this artist. </p>
<% end %>
<hr>
<%= render 'songs/form' %>
<hr>
<%= link_to "Delete this Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
