<h1><%= @artist.name %></h1>
<p>Photo</p>
  <%= image_tag @artist.photo.image.thumbnail %>


<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Songs</h3>
<% if @artist.songs.any? %>
    <% @artist.songs.each do |song| %>
      <p><%= song.track %></p>
<%= link_to "Delete this song",
      artist_song_path(@artist, song),
      method: :delete,
      data: { confirm: 'Are you sure?'} %>

    <% end %>
  </ul>
  <%else%>
  <p>There are no songs belong to this artist. </p>
<% end %>


<hr>
<%= render 'songs/form' %>
<hr>
<%= link_to "Delete this Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
